.applicationContainer {
  width: 100%;
  font-size: 20px;
  color: steelblue;
}
.container {
  width: 70vw;
  height: 580px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 20px;
  padding: 10px;
}
ul {
  list-style-type: none;
}
.listContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-image: linear-gradient(to top, #007adf 0%, #6bbaf0 100%);
  align-items: center;
}
.postJobs {
  width: 70%;
  height: 400px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 22px;
  color: steelblue;
  padding: 10px;
}
.listContainer .heading {
  color: teal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.jobHeader {
  font-size: 26px;
  text-align: center;
  color: teal;
}
li {
  margin: 30px;
}
